body{
    margin: 0;
    display: grid;
    place-items: center;
    background-color: white;
    font-family: 'Darker Grotesque', sans-serif;
}


header{
    width: 100%;
    height: 20vmin;
    background-color: #85cdf4;
}

#logo{

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
}

a:link {
    color: inherit;
    text-decoration: none;
}

header nav ul{
    max-width: 960px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    padding: 0px;
    align-items: center;
    margin: 0 auto;
}
header nav ul li{
    color: rgb(49, 46, 46)
}

header nav ul :nth-child(3) :hover{
    border-bottom: 7px solid black;
    padding: 5px;
}

header nav ul :nth-child(1) :hover{
    border-bottom: 7px solid black;
    padding: 5px;
}
#first_section{
    background-image: url("lobo_raiva.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: auto;
    height: 100vh;
    margin: 0 auto;

}

section h1{
    margin-top: 140px;
    color: white;
    position: relative;
    text-align: center;
    font-size: 90px;
}

#first_section p{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    color: white;
    font-weight: lighter;
}

.traço {
    display: flex;
    align-items: center;
    justify-content: center;
}
.traço div{
    margin-top: -30px;
    width: 150px;
    height: 5px;
    background-color: white;
    background-position: center;
}   

#second_section{
    background-color: #2c567f;
}

#second_section ul li{
    list-style: none;
    color: #deb959;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    
}

#second_section ul li p{
    list-style: none;
    color: white ;
    text-align: center;
    font-size: 1.5vmax;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: -10px
}

.valores {
    background-color:#333333;
    width: 100%;
    
}

.valores-container {
    display: inline;
    
}
div {
    display: block;
}

.valores h2{
    font-size: 50px;
    color: #deb959;
    position: relative;
    align-items: center;
}
.valores-item {
    width: 300px;
    float: left;
    margin: 79px 10px 20px 10px;
    color:white;
  }

.valores-item p{
    text-align: center;
    font-size: auto;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: -10px
} 

.valores-item h2{
    color:white;
    font-size: 30px;
    float: none
}

.icone-svg{
    background-color: white;
    border-radius: 50%;
    padding: 40px;
}

.exemplo_container{
    display: inline-block;
}

.lobos_exemplo{
    display: flex;
    background-color:white;

}

.idade{
    color: grey
}

.text-block{
    padding: 100px;
}

.foto-lobo{
    width: 400px;   
}

.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;;
    padding: 50px;
    color:white;
    background-color: #333333;
    width: 100%;
    height: 100%;
    padding: 70px
}

.footer > *{
    flex: 1 100%;
}
.mapa{
    position: absolute;
    left: 90px;
}
.enderecos{
    position: absolute;
    font-size: 10px;
    right: 10px;
    
}

.enderecos li:nth-child(1){
    list-style-image: url("mapaIcon.png");
}
.enderecos li:nth-child(2){
    list-style-image: url("celularIcon.png");
}
.enderecos li:nth-child(3){
    list-style-image: url("emailIcon.png");
}

#QS{
    position: absolute;
    width: 100px;
    font-size: 20px;
    margin: 10px;
    background-color: #deb959;
    color:black;
    right: 500px;
    font-weight: bold;
}

#QS:hover{
    background-color:white;
    color: black; 
}